.app{


}

.m_p{
position: absolute;
    right: 45%;
}
.button_lol{
   background-color: crimson ;
    border-radius:20px 20px ;
    color: darkslateblue;
    margin: 20px 20px 20px 20px ;
    padding: 20px;

  }
.l_link{
 margin: 20px 0px 20px 60px;
 background-color: burlywood;
}
.h1_lol{
margin-left: 500px;

}